In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [176]:
# read in the raw data from the github url

df = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [177]:
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN

#### 1. Clean the data. Use .apply and lambda functions where you can

In [178]:
# rename the columns to remove spaces and extra characters

df.columns = [u'permalink', u'name', u'homepage_url', u'category_list', u'market',
       u'funding_total_usd', u'status', u'country_code', u'state_code',
       u'region', u'city', u'funding_rounds', u'founded_at', u'founded_month',
       u'founded_quarter', u'founded_year', u'first_funding_at',
       u'last_funding_at', u'Unnamed: 18']

df.columns

Index([u'permalink', u'name', u'homepage_url', u'category_list', u'market',
       u'funding_total_usd', u'status', u'country_code', u'state_code',
       u'region', u'city', u'funding_rounds', u'founded_at', u'founded_month',
       u'founded_quarter', u'founded_year', u'first_funding_at',
       u'last_funding_at', u'Unnamed: 18'],
      dtype='object')

In [179]:
# convert the funding, year founded, and funding_rounds columns to integers
           
df['funding_total_usd'] = df['funding_total_usd'].map(lambda x: x.strip().replace(',', '').replace('-', '0'))
df['funding_total_usd'] = df['funding_total_usd'].astype('int')
df['founded_year'] = df['founded_year'].fillna(0).astype('int')
df['funding_rounds'] = df['funding_rounds'].astype('int')

df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,750000,NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,0,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,1750000,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,0,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,40000,operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,1500000,operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN

In [180]:
# convert category_list so that each cell is a list of categories

df['category_list'] = df['category_list'].apply(lambda x: (str(x)).split('|')[1:-1])

df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,"[Credit, Technology, Services, Finance]",Credit,750000,NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,0,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,"[Entertainment, Politics, Social Media, News]",Entertainment,1750000,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,[Games],Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,0,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,"[Publishing, Education]",Education,40000,operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,"[Electronics, Guides, Coffee, Restaurants, Mus...",Apps,1500000,operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN

In [184]:
# use value_counts on market, status, and country_code to check for any repeats or misnamed entries

#df['market'].value_counts().sort_index()

In [192]:
# BONUS: convert the date columns to appropriate datetime objects
#df.first_funding_at
#df['first_funding_at'] =  pd.to_datetime(df['first_funding_at'])

0          1/1/10
1         6/30/12
2          6/4/10
3          8/9/12
4          4/1/11
5         8/29/12
6         5/31/13
7         1/16/07
8         3/19/08
9         7/24/14
10         1/3/13
11        2/18/13
12        4/21/13
13        8/19/10
14         3/2/11
15        1/22/14
16        6/18/09
17        8/23/11
18        5/15/09
19        9/16/11
20         1/1/10
21       10/14/09
22       12/27/12
23         1/1/11
24         1/7/08
25         1/1/06
26        11/2/11
27         3/8/10
28         4/1/09
29         5/8/14
           ...
44920      2/1/07
44921    12/10/13
44922     4/19/12
44923      1/1/11
44924     12/1/13
44925      1/1/05
44926     10/6/08
44927    11/19/07
44928    10/24/11
44929      1/1/05
44930    10/27/06
44931      6/7/12
44932     9/12/05
44933     1/11/10
44934      3/3/08
44935    11/22/11
44936      2/1/14
44937      4/5/11
44938      1/1/07
44939      9/9/10
44940      3/3/12
44941     1/29/10
44942      1/1/08
44943    10/21/10
44944     1/29/13
44945     3/24/14
44946      4/1/12
44947     11/1/11
44948    11/21/11
44949      6/1/08
Name: first_funding_at, dtype: object

#### 2. Using isnull(), take a subset of the dataframe that has no founded at date

#### 3. Create a new column, founded_year_x, that's a copy of founded_year. Then, replace all the missing values with either the mean , mode, or median of that column. 
Add a note explaining which statistic you picked and why:

#### 4. Take a subset of US-based companies using boolean selection

#### 5. Create a pivot table showing total, mean, and median funding amount by year

#### 6. Create a pivot table showing total, mean and median funding amount by market

#### 7. CHALLENGE: Using matplotlib, create a scatter plot showing funding amount on the y-axis, and first_funding_date on the x-axis
(first_funding_date will need to be a timestamp)

#### 8. Here's the fun part. Create a hypothesis based on your data that you can reasonably test. 
For example: "Credit companies based in the US that only get 1 round of funding tend to receive more funding than companies based outside the US"



When you have your hypothesis, write it below, and Slack it to the instructors so we can check in.

#### 9. Test your hypothesis. 

You'll need to evaluate your hypothesis using a t-test (see Monday's lecture 1.3), so make sure you have enough data compare samples. If your original hypothesis is too narrow, you may need to broaden the scope.

#### 10. CHALLENGE
- Plot the distribution of both samples
- Explain your results in one short sentence. 
- Explain your result in a slighly longer technical paragraph, touching on the statistics you presented. 
- Subset your findings: if you looked at a certain market in a certain geography, break it down by another variable (e.g number of funding rounds) and compare those samples.